@import url('../../../../node_modules/material-components-web/dist/material-components-web.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  --mdc-theme-primary: #546e7a;
  --mdc-theme-secondary: #819ca9;
  background-color: #f5f5f5;
}
