.fields {
  flex-shrink: 0;
  flex-grow: 1;

  padding-left: 16px;
  padding-right: 8px;

  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.field {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.input {
  width: 100%;
}

.footer {
  flex-shrink: 0;
  padding: 8px;

  display: flex;
  justify-content: flex-end;
}
